  <h1 *ngIf="errMsg">404 Dashboard not found</h1>
  <ul class="nav nav-pills text-right bg-dark w-100 pb-2 pr-3">
    <li ngbDropdown class="text-center nav-item">
      <button class="btn bg-dark border-info text-info btn-sm text-center dropdown-sign ml-2" id="dropdownMenuButton" ngbDropdownToggle>
        <span>Actions</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="bg-dark pl-2 pr-2">
        <button ngbDropdownToggle (click)="toggleCreateSection(dashboard, activeSection)" class="w-100 no-dropdown-sign btn btn-sm btn-success text-success bg-dark mb-1" role="button" type="button"><i class="fa fa-plus"></i> Create section</button>
        <button ngbDropdownToggle (click)="toggleCreateCard(dashboard, activeSection)" class="w-100 mb-1 no-dropdown-sign btn btn-sm btn-success text-success bg-dark" style="margin-right: 5px;" role="button" type="button"
          title="Add a card to this section" *ngIf="activeSection!==undefined"><i class="fa fa-plus"></i>Create card</button>
        <button ngbDropdownToggle (click)="toggleLeaveDashboard(dashboard, activeSection)" class="w-100 no-dropdown-sign btn btn-sm btn-info text-info bg-dark mb-1" role="button" type="button" title="Leave this dashboard"><i
            class="fas fa-sign-out-alt"></i> Leave dashboard</button>
        <button ngbDropdownToggle (click)="toggleDeleteSection(dashboard, activeSection)" class="w-100 mb-1 no-dropdown-sign btn btn-sm btn-danger text-danger bg-dark" style="margin-right: 5px;" role="button" type="button" title="Delete this section"
          *ngIf="activeSection!==undefined && user.id===dashboard.creatorId"><i class="fa fa-trash" aria-hidden="true"></i>Delete section</button>
        <button ngbDropdownToggle (click)="toggleDeleteDashboard(dashboard, activeSection)" class="w-100 no-dropdown-sign btn btn-sm btn-danger text-danger bg-dark mb-1" role="button" type="button" title="Delete this dashboard"
          *ngIf="user.id===dashboard.creatorId"><i class="fa fa-trash" aria-hidden="true"></i> Delete dashboard</button>
      </div>
    </li>
  </ul>
  <div class="title text-center ml-4 mt-4 mb-4">
    <span class="card-title display-3">
      {{dashboard.title}}
      <span ngbDropdown class="text-center">
        <span class="text-center text-dark display-4" *ngIf="dashboard.sections.length===1">{{"#"+activeSection.title}}</span>
        <button class="btn btn-secondary btn-sm text-center text-dark ml-n3" id="dropdownMenuButton" ngbDropdownToggle [attr.disabled]="dashboard.sections.length===0 ? '' : null" title="Click to change section" *ngIf="dashboard.sections.length>1">
          <span class="display-4">{{"#"+activeSection.title}}</span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="bg-dark pl-2 pr-2">
          <button ngbDropdownItem *ngFor="let section of dashboard.sections" class="text-light btn bg-dark" (click)="changeActiveSection(section)">{{section.title}}</button>
        </div>
      </span>
      <a class="btn btn-sm btn-outline-info bg-dark ml-2" title="Click to copy dashboard ID" (click)="copyIdToClipboard(dashboard.id)"><i class="fa fa-clipboard"></i></a>
    </span>
  </div>
  <div class="card-title text-center border-dark mb-0 pb-0 pt-0" *ngIf="dashboard!==undefined">
    <div *ngIf="dashboard.sectionCreate" class="card-body align-center add-section-form">
      <h2 class="text-dark mb-0">Create section</h2>
      <form class="form-inline align-center" [formGroup]="createSectionForm" (ngSubmit)="addSection(dashboard.id)">
        <input [formControlName]="'sectionTitle'" class="form-control bg-dark text-light input-sm mr-sm-2" type="search" placeholder="Section title" aria-label="Search" required>
        <button class="btn btn-sm bg-secondary border-dark text-dark my-2 my-sm-0" type="button" (click)="toggleCreateSection(dashboard, activeSection)">Cancel</button>
        <button class="btn btn-sm bg-dark border-success text-success my-2 my-sm-0 ml-1" type="submit">Add</button>
      </form>
    </div>
    <div *ngIf="dashboard.dashboardLeaveFlag" class="card-body text-center w-25 outline inline">
      <p class="card-text mb-n3">Are you sure you want to leave this dashboard?</p>
      <br>
      <button (click)="toggleLeaveDashboard(dashboard, activeSection)" class="btn btn-sm bg-dark border-secondary text-secondary my-2 my-sm-0" type="submit">Cancel</button>
      <button (click)="leaveDashboard(dashboard.id, user.id)" class="btn btn-sm bg-dark border-info text-info my-2 my-sm-0 ml-2" type="submit">Leave</button>
    </div>
    <div *ngIf="dashboard.deleteDashboardFlag" class="card-body text-center w-25 outline inline">
      <p class="card-text mb-n3">Are you sure you want to delete this dashboard?</p>
      <br>
      <button (click)="toggleDeleteDashboard(dashboard, activeSection)" class="btn btn-sm bg-dark border-secondary text-secondary my-2 my-sm-0" type="submit">Cancel</button>
      <button (click)="deleteDashboard(dashboard.id)" class="btn btn-sm bg-dark border-danger text-danger my-2 my-sm-0 ml-2" type="submit">Delete</button>
    </div>
    <div class="no-section-message text-center" *ngIf="activeSection===undefined && !dashboard.sectionCreate && !dashboard.dashboardLeaveFlag && !dashboard.deleteDashboardFlag">
      <h1 class="text-info">There are no sections yet</h1>
    </div>
  </div>
  <div class="card-title text-center border-dark mb-0 pb-0 pt-0" *ngIf="activeSection!==undefined">
    <div *ngIf="activeSection.cardCreate" class="card-body align-center add-card-form">
      <h2 class="text-dark mb-0">Create card</h2>
      <form class="form-inline align-center" [formGroup]="createCardForm" (ngSubmit)="addCard(activeSection)">
        <input [formControlName]="'cardTitle'" class="form-control form-control-sm bg-dark text-light input-sm mr-sm-2" type="search" placeholder="Title" aria-label="Search" required>
        <input [formControlName]="'cardDescription'" class="form-control form-control-sm bg-dark text-light input-sm mr-sm-2" type="search" placeholder="Description" aria-label="Search" required>
        <input [formControlName]="'cardDueDate'" type="text" ngbDatepicker #d="ngbDatepicker" enabled="false" class="form-control form-control-sm bg-dark text-light input-sm mr-sm-2" placeholder="Deadline" required />
        <button type="button" (click)="d.toggle()" class="btn btn-sm btn-outline-info bg-dark mr-2 ml-2"><i class="fa fa-calendar" aria-hidden="true"></i></button>
        <button class="btn btn-sm bg-secondary border-dark text-dark" type="button" (click)="toggleCreateCard(dashboard, activeSection)">Cancel</button>
        <button class="btn btn-sm bg-dark border-success text-success ml-1" type="submit">Add</button>
      </form>
    </div>
    <div *ngIf="activeSection.deleteSectionFlag" class="card-body text-center w-25 outline inline">
      <p class="card-text mb-n3">Are you sure you want to delete this section?</p>
      <br>
      <button (click)="toggleDeleteSection(dashboard, activeSection)" class="btn btn-sm bg-dark border-secondary text-secondary my-2 my-sm-0" type="submit">Cancel</button>
      <button (click)="deleteSection(activeSection)" class="btn btn-sm bg-dark border-danger text-danger my-2 my-sm-0 ml-2" type="submit">Delete</button>
    </div>
    <div class="no-cards-message text-center" *ngIf="activeSection.cards.length===0 && !activeSection.cardCreate && !activeSection.deleteSectionFlag && !dashboard.sectionCreate && !dashboard.dashboardLeaveFlag && !dashboard.deleteDashboardFlag">
      <h1 class="text-info">There are no cards yet</h1>
    </div>
  </div>
  <div class="section-container" *ngIf="activeSection!==undefined">
    <div class="card-columns ml-4 mr-4">
      <div *ngFor="let card of activeSection.cards" class="card bg-dark text-light border-info ml-2">
        <div class="card-header text-center" style="height: 100px;">
          <span ngbDropdown>
            <button class="btn bg-dark btn-sm text-light text-center dropdown-sign ml-2 h2" id="dropdownMenuButton" ngbDropdownToggle>
              <span class="text-center h2 ">{{card.title}}</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="bg-dark pl-2 pr-2 text-center">
              <button ngbDropdownItem ngbDropdownToggle class="btn btn-sm bg-dark border-success text-success no-dropdown-sign" *ngIf="card.workers===undefined || !checkIfUserWorker(user, card)" (click)="addUserToCard(user, card)">Take</button>
              <button ngbDropdownItem ngbDropdownToggle class="btn btn-sm bg-dark border-info text-info no-dropdown-sign w-100" *ngIf="checkIfUserWorker(user, card)" (click)="leaveCard(user, card)">Leave card</button>
              <button ngbDropdownItem ngbDropdownToggle class="btn btn-sm bg-dark border-danger text-danger no-dropdown-sign w-100" *ngIf="user.id===dashboard.creatorId" (click)="deleteCard(activeSection, card)">Delete card</button>
            </div>
          </span>
        </div>
        <div class="card-body">
          <p class="card-text">{{card.description}}</p>
        </div>
        <div class="card-footer" *ngIf="card.date!==null">
          Due {{((""+card.date[2]).length==1?"0"+card.date[2]:card.date[2])+"-"+((""+card.date[1]).length==1?("0"+card.date[1]):card.date[1])+"-"+card.date[0]}}
        </div>
        <div class="card-footer" *ngIf="card.date===null">
          No deadline
        </div>
        <div class="card-footer" *ngIf="card.workers.length==0 && card.workers.length<3">
          <i class="text text-muted bg-dark text-info border-info">Such a lonely card</i> 😢
        </div>
        <div class="card-footer" *ngIf="card.workers.length>0 && card.workers.length<3">
          <i class="text text-muted">Users: </i> <i class="text text-muted bg-dark text-info border-info" *ngFor="let user of card.workers">{{user.username}}</i>
        </div>
        <div class="card-footer" *ngIf="card.workers.length>3">
          <i class="text text-muted">Users: </i> <i class="text text-muted bg-dark text-info border-info">{{card.workers[0].username}} {{card.workers[1].username}} {{card.workers[2].username}} and {{card.workers.length-3}} more...</i>
        </div>
      </div>
    </div>
  </div>
