<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="/">
    <img src="assets/img/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
  </a>
  <div class="float-right" id="navbarText">
    <div *ngIf="!isLoggedIn" class="btn-group float-right" role="group">
      <button type="button" class="btn btn-light btn-sm" routerLink="/login">Login</button>
      <button type="button" class="btn btn-secondary btn-sm" routerLink="/signup">Sign up</button>
    </div>
    <div *ngIf="isLoggedIn" class="btn-group float-right" role="group">
      <button type="button" class="btn btn-secondary btn-sm float-right" (click)="goToUserProfile()"><a class="btn btn-sm btn-info" style="border-radius: 70%;">{{user.username[0].toUpperCase()}} </a> {{user.username}}</button>
      <button type="button" class="btn btn-secondary btn-sm float-right" (click)="logout()"><i class="fas fa-sign-out-alt"></i></button>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>
